:root {
  /* colour variables */
  --dark-pink: #C56A73;
  --light-pink: #F9CFCF;
  --rich-black: #050303;
}

body {
  background-color: var(--light-pink);
  font-family: 'Overpass Mono', monospace;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 8rem;
  padding: 3rem;
  border-style: double;
  font-size: 4rem;
  line-height: 2rem;
}

.city-dropdown {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  /* box-shadow: 4px 4px 0px var(--dark-pink); */
}

#city {
  font-family: 'Overpass Mono', monospace;
  padding: 1rem;
  font-size: 2rem;
  
}
#city:hover{
cursor: pointer;
background-color: var(--dark-pink);
}

.search-button {
  padding: .7rem;
  border-radius: 10%;
  font-size: 1rem;
}
.search-button:hover {
  cursor: pointer;
  background-color: var(--dark-pink);
}
